.creditos{
    width: 100%;
    max-width: 1280px;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2% 5% 2% 5%;
    z-index: 2;

    & div{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        @media (max-width: 768px){
            flex-direction: column-reverse;
            gap: 25px;
            margin-top: 20px;
        }

        & p{
            font-size: 14px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            color: #000;

            @media (max-width: 768px){
                text-align: center;
            }
            
            & img{
                width: 70px;
            }
        }
    }
}